.button-container {
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  width: 60%;
  justify-content: center;
}

.button-container > button {
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 4px;
  padding-left: 4px;
  margin: 1px 2px;
  border: 1px solid #c5c7c5;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  border-radius: 0%;
  background: #e1e6e2;
  box-shadow: 1px 1px 1px black;
}

.button-container > button:hover {
  background: gray;
  border-color: gray;
}

.flex-parent {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
}

.list-item {
  border: 1px solid black;
  margin-bottom: 2px;
  width: 50%;
}

.list-container {
  display: flex;
  flex-flow: column nowrap;
  width: 75%;
  align-items: center;
}
